# ssh keys
*rsa*

# Swap files
*.swp

# Vim plugins
.vim/pack/*
.vim/plugged/*

# Backup Directory
backup/

# Remove all .config directory
*/.config/

# Include specific items form .config directory
!*/.config/starship.toml

