# ssh keys
*rsa*

# Swap files
*.swp

# Vim plugins
.vim/pack/*
.vim/plugged/*

# Backup Directory
backup/

# Debian auto conf file
*./config/dconf/user

# npm update
*/.config/configstore/update-notifier-npm.json

